.card {
  margin: 0 auto;
  max-width: 1000px;
  background: #fff;
  border-radius: 8px;
}

.section-card {
  margin-bottom: 16px;
  border-radius: 8px;
}

.actions {
  margin-top: 24px;
  text-align: right;
}
